#header {
    font-family: Roboto;
    font-weight: 300;
    font-size: medium;
}

.header {
        z-index: 10;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        line-height: 1;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        pointer-events: none;
}

.content {
    font-family: Roboto;
    font-weight: 300;
    font-size: medium; 
}

#page {
    font-family: Roboto;
    font-weight: 300;
    font-size: medium;
} 

.container {
    font-family: Roboto;
    font-weight: 300;
    font-size: medium;
} 

.body {
    font-family: Roboto;
    font-weight: 300;
    font-size: small;

}

#footer-sections {
    font-family: Roboto;
    font-weight: 300;
    font-size: 16px;
}

.header-title-nav-wrapper {
    font-family: Roboto;
    font-weight: 300;
    font-size: small;
}

#sections {
    font-family: Roboto;
    font-weight: 300;
    font-size: medium;
}

.sections {
    font-family: Roboto;
    font-weight: 300;
    font-size: medium;
}

#heroGrid {
    margin: 0px 5%;
    display: grid;
    min-height: 500px;
    height: 70vh;
    grid-template-rows: 75% 25%;
    grid-template-columns: 75% 25%;
    grid-template-areas:
        "featuredProduct secondaryProduct"
        "featuredProduct CTA";
