.inline-block {
    vertical-align: top;
}

.logo {
    width: 10%;
    padding: 1%;
    text-align: center;
}

.navigation {
    width: 73%;
    padding: 1%;
}

.ul {
   width: 50%;
   margin-left: auto; 
}

.HeroImg {
    height: 600px;
    padding: 25px;
}

.p {
    width: 500px;
    margin-left: auto;
}

.footer {
background-color: blueviolet;
padding: 5%;

}